# User defined files and directories
.DS_Store
*.swp
*.*.swp

# Test project files
# Components from 3rd-party providers
test/test_project/components/extern/3d_models
test/test_project/components/extern/footprints
test/test_project/components/extern/symbols
test/test_project/components/extern/tmp/*
!test/test_project/components/extern/tmp/SnapEDA
!test/test_project/components/extern/tmp/SnapEDA/**/*.zip

# KiCad directories and files
test/test_project/test_project-backups/
*.kicad_prl

# Bats-core directories (tests)
/test/bats
/test/test_helper
