# User defined files and directories
.DS_Store
*.swp
*.*.swp

# Test project files
test/test_project/test_project-backups/
test/test_project/components/extern/3d_models/
test/test_project/components/extern/footprints/
test/test_project/components/extern/symbols/
*.kicad_prl

# Components from 3rd-party providers
# Only want zip files in certain directories
!*.zip
!test/test_project/components/extern/tmp/SnapEDA
test/test_project/components/extern/tmp/

# Bats-core directories (tests)
/test/bats
/test/test_helper
